h2 {
    padding: 10px;
    color: wheat;
    border-radius: 10px;
    background-color: brown;
}

menu {
    position: relative;
    margin: 0;
    padding: 5px;
    background-color: burlywood;
}

menu > ul {
    padding: 0;
    margin: 0;
    display: inline-block;
    list-style: none;
}

menu > ul:nth-child(2) {
    position: absolute;
    right: 0;
}

li {
    padding: 10px;
    display: inline-block;
}

a {
    text-decoration: none;
}